/* Implement the CSS here to render the layout as desired */

.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin: auto;
 }

.Header, .Footer{
  
    grid-column: 3;
    justify-content: center;
    color: darkred;
    grid-template-rows: [row1-start] 25% [row1-end];
 }

.Header {  
    font-size: 36px;
    font-weight: bold;
    
 }

 .Footer {  
    font-size: 20px;
 }

.Data {
    grid-column: 1 / span 3;
    justify-content: center;
    margin:5%;
 }

.Chart {
    grid-column: 4 / span 2;
    justify-content: center;
 }

 
